/*белый #ffffff; */
/*цвет фона #2F303A; */
/*акцент #2196F3; */
/* прозрачный color: rgba(255, 255, 255, 0.6);*/

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --acent-color: #2196f3;
  --basic-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --batton-background-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--basic-white-color);
}
ul,
p,
h3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}
/*--------Шапка--------*/

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--acent-color);
}
.part-dark {
  color: #1f1f1f;
}
.part-ligt {
  color: var(--basic-white-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.nav-link:hover,
:focus {
  color: var(--acent-color);
}
.nav-link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--acent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.header-link:hover,
:focus {
  color: var(--acent-color);
}

/*--------Герой--------*/

.hero {
  background-color: var(--primary-background-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 200px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  font-family: inherit;
  background-color: var(--acent-color);
  color: var(--basic-white-color);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
button:hover,
:focus {
  background-color: #188ce8;
}

.button-conteiner {
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--basic-white-color);
}

/* кнопки портфолио */

.filtre-button {
  font-family: inherit;
  background-color: var(--batton-background-color);
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}
.filtre-button:hover,
:focus {
  color: var(--basic-white-color);
  background-color: var(--acent-color);
}
.pointer {
  color: var(--basic-white-color);
  background-color: var(--acent-color);
}

/*карточки портфолио */

.site-filtre {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.site-filtre .other + .other {
  margin-left: 8px;
}

.previev {
  display: flex;
  flex-wrap: wrap;
}
.previev-element {
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.previev :nth-child(3n) {
  margin-right: 0;
}
.previev:nth-last-child(3) {
  margin-bottom: 0;
}

/*--------Особенности--------*/

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
}

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.features,
.p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*--------Чем мы занимаемся--------*/

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.products {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.description {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.filtre-link {
  text-decoration: none;
}

.work-list {
  display: flex;
}
.work-list .item + .item {
  margin-left: 30px;
}

/*--------Наша команда--------*/

.team {
  background-color: var(--batton-background-color);
}

.team-photo {
  margin-top: 0;
  margin-bottom: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 30px;
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}
/*--------Подвал--------*/

footer {
  background-color: var(--primary-background-color);
}
.google-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--basic-white-color);
  text-decoration: none;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-logo {
  padding-top: 60px;
}

.address-list {
  margin-top: 20px;
  padding-bottom: 60px;
}
